{% extends "layout.html.twig" %}
{% block title %}Tous les auteurs{% endblock %}

{% block body %}
<h1>Tous les auteurs</h1>
    {% for i in resultat %}
        <p>{{ i.nom }} {{i.prenom}}</p>
    {% endfor %}
{% endblock %}
